{
  "plugins": ["@babel/proposal-class-properties"],
  "presets": [["@babel/env", { "modules": false }]],

  "env": {
    "test": {
      "presets": ["@babel/react", ["@babel/env", { "modules": "commonjs" }]]
    }
  }
}
